.sidebar{
    width: 233px;
    background: #2A3868;
    margin: 0 auto;

}
.sidebar h4{
    color: #58648A;
    font-size: 14px;
    padding: 15px 40px;
    font-family: sans-serif;
    margin: 0 auto;

}
.stiloscollapso{
    color: aliceblue;
    padding: 0px;
    display: flex;
    height: 40px;
    margin-bottom: 10px;


}
.stiloscollapso p{
    font-family: sans-serif;


}
.sidebar-titulo2{
    padding-left: 10px;
}
.graph{
    height: 15.35px;
    width: 15px;
    margin: 0 auto;
}
.vector1{
    width: 8px;
    height: 4px;
    margin: 0 auto;
    transform: rotate(-180deg);

}
.colapsoItems{
    font-size: 14px;
    font-family: sans-serif;
    color: #8791AD;
    
    font-weight: 400;
   
    padding: 8px;
    line-height: 21px;
    margin-bottom: 10px;
    padding-left: 40px;
    cursor: pointer;

}
.icono{
height: 80px;
align-items: center;
justify-content: center;
background: #314177;
border-top-left-radius: 30px;

}

